* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', 'Roboto', 'Open Sans', 'Inter', 'Montserrat', sans-serif;
}


body {
    margin: 0;
}



a {
    text-decoration: none;
    color: black;
}


#a-color {
    opacity: 0.5;
}


.item1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3.4%;
}

.report {
    width: 28%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
}

.item2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.graph1 {
    width: 40%;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.graph2-box {
    width: 40%;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.graph2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chart {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    padding: 20px;
}


.numbers {
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: bold;
}


.graph {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    height: 220px;
    padding: 10px;

}


.bar {
    width: 60px;
    background: #5dd991;

    border-radius: 10px 10px 0 0;

    display: flex;
    justify-content: center;
    align-items: end;

    color: white;
}

.bar p {
    margin-bottom: -25px;
    color: black;
}

.under-level {
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 20px;
    color: #0ba34a;
}

.u-l-b {
    width: 20px;

    display: flex;
    flex-direction: column;
}

.ww {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0ba34a;
}


.u-level {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: conic-gradient(#0ba34a 0% 30%,
            #4dabf7 30% 50%,
            #ffd43b 50% 65%,
            #ff6b6b 65% 90%,
            #845ef7 90% 100%);

    position: relative;
    box-shadow: inset 0 0 0 4px white;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 18px;
    font-weight: 500;
}


.label {
    display: flex;
    align-items: center;
    gap: 10px;
}


.color {
    width: 18px;
    height: 18px;

    border-radius: 4px;
}

.green {
    background: #0ba34a;
}

.blue {
    background: #4dabf7;
}

.yellow {
    background: #ffd43b;
}

.red {
    background: #ff6b6b;
}

.purple {
    background: #845ef7;
}


.item3 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-box {
    width: 88%;
    height: 488px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 35px;
}

.chart-title {
    font-size: 20px;
    font-weight: 700;
    color: #111;
    margin-bottom: 10px;
}

.chart-sub-title {
    font-size: 16px;
    color: #666;
    margin-bottom: 50px;
}

.recycle-chart {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.recycle-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.recycle-label {
    width: 220px;
    font-size: 16px;
    color: #555;
}

.recycle-bar-area {
    width: 100%;
    height: 57px;
    border-left: 2px solid #999;
}

.recycle-bar {
    height: 57px;
    background: #16c784;
}

.bar1 {
    width: 92%;
}

.bar2 {
    width: 72%;
}

.bar3 {
    width: 10%;
}

.chart-legend {
    text-align: center;
    font-size: 18px;
    color: #16c784;
    margin-bottom: 40px;
    font-weight: 600;
}

.top-box {
    width: 96%;
    background: #e7f4ea;
    padding: 20px;
    border-radius: 18px;
    color: #0b7a37;
    font-size: 18px;
    font-weight: 600;
}



.main-contain {
    margin-left: 25%;
    margin-right: 1%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.status {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box {
    height: 56%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    gap: 30px;
    background-color: #FFFFFF;
}

.u-level {
    display: flex;
    flex-direction: row;
    padding: 10% 10% 0 10%;
}

.d-level {

    padding: 0 10% 5% 10%;
    font-size: 30px;
    font-weight: bold;
}

.fficon {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.fflevel {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}